@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Outfit:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 75px;
}

:root {
    --color-background: #101010;
    --color-footer: #262626;
    --color-main: #48919E;
    --color-purple: #8738EC;
    --color-cyan: #54E8AA;
    --color-cyan-shadow: #54E8AA33;
    --color-price: #42AFC2;
    --color-white: #F3F3F3;
    --radius-main: 20px;
}

.hamburguer {
    position: relative;
    display: block;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburguer .barra,
.hamburguer::after,
.hamburguer::before {
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-main);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.hamburguer.ativo::before {
    transform: rotate(45deg) translate(8px, 6px);
}

.hamburguer.ativo::after {
    transform: rotate(-45deg) translate(9px, -8px);
}

.hamburguer.ativo .barra {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    right: 100%;
    width: 80%;
    height: 100%;
    display: block;
    z-index: 10;
    background-color: var(--color-white);
    margin-top: -11px;
    border-right: 5px solid var(--color-main);
    border-radius: 0 0 var(--radius-main) 0;
    transition: 0.4s;
}

.mobile-nav.ativo {
    right: 20%;
}

.mobile-nav ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-nav ul li a {
    text-decoration: none;
    color: var(--color-main);
    font-size: 2rem;
    padding: 0 10px 0 10px;
}

@media only screen and (max-width: 426px) {
    body {
        background-color: var(--color-background);
        margin-top: 70px;
    }

    header {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: var(--color-white);
        outline: 5px solid var(--color-main);
        border-radius: 0 0 var(--radius-main) 0;
        top: -1px;
    }

    nav {
        width: 100%;
    }

    ul {
        list-style: none;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav ul li {
        /*background-color: #101010;*/
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#TOP {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#tTOP {
        margin: 2%;
    }

    h1 {
        color: var(--color-main);
        font-size: 3rem;
        font-weight: 800;
        border-bottom: 5px solid var(--color-white);
    }
    
    article.slide {
        height: 400px;
    }

    .espaLateral {
        margin-left: 10%;
        margin-right: 10%;
    }

    article.titulo {
        background-color: var(--color-white);
        border-radius: var(--radius-main);
        padding: 5%;
        box-shadow: 0px 0px 15px 10px var(--color-cyan-shadow);
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    span.blue-back {
        color: var(--color-white);
        background-color: var(--color-main);
        padding: 2%;
        border-radius: var(--radius-main);
    }

    section.cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20%;
    }

    article.card {
        background-color: var(--color-white);
        width: 100%;
        height: 320px;
        border-radius: var(--radius-main);
        margin-bottom: 20%;
    }

    article.card h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-purple);
        border-radius: var(--radius-main) var(--radius-main) 0 0;
        font-size: 1.8rem;
        height: 15%;
        color: var(--color-white);
    }

    article.card-plano {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color-white);
        border-radius: var(--radius-main);
        height: 500px;
        width:90%;
        margin-bottom: 20%;
        padding: 5%;
    }

    img.card-img {
        width: 100px;
        height: 100px;
        border-radius: var(--radius-main);
    }

    .card-titulo {
        background-color: var(--color-white);
        color: var(--color-main);
        padding: 2% 5% 2% 5%;
        border-radius: var(--radius-main);
        box-shadow: 0px 5px 5px 5px #00000040;
        font-size: 2rem;
    }

    article.card-plano ul {
        border-top: 2px solid #000;
        padding-top: 15%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article.card-plano ul li {
        list-style: none;
        list-style-position: inside;
        width: 80%;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a.card-preco {
        background-color: var(--color-price);
        border-radius: var(--radius-main);
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.7rem;
        padding: 2% 5% 2% 5%;
    }

    .gradient {
        height: 150px;
        background : linear-gradient(180deg, var(--color-background) 0%, var(--color-footer) 100%);
    }

    footer {
        background-color: var(--color-footer);
    }

    footer section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer article.social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }

    footer article.contact {
        height: 100px;
    }

    footer ul {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer .media ul li {
        text-align: center;
    }

    footer a {
        text-decoration: none;
        color: var(--color-main);
    }

    footer img {
        height: 100px;
    }

    h4 {
        color: var(--color-white);
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 426px) {
    body {
        background-color: #000;
    }

    li#hamburguer-menu {
        display: none;
    }
}