$BackgroundColor: #101010;
$FooterColor: #262626;
$MainColor: #48919E;
$PurpleColor: #8738EC;
$CyanColor: #54E8AA;
$CyanShadowColor: #54E8AA33;
$PriceColor: #42AFC2;
$WhiteColor: #F3F3F3;
$Radius: 20px;

$fontSize-h1: 4rem;
$fontSize-2: 2rem;
$fontSize-1d8: 1.8rem;
$fontSize-1: 1rem;
$fontSize-d5: .5rem;